
@{
    ViewBag.Title = "Restricted Access";
    ViewBag.leftString = "";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.rightStringLink = "#";
    ViewBag.SignOut = @Html.ActionLink("Log In", "Index", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row unauthorizedPad">
    <!-- Danger Sign-->
    <div class="images"><img src="~/images/danger.png" /></div>

    <!-- Title -->
    <div class="row title">
        <div class="col-12">
            <h1 class="reset">Access Denied!</h1>
        </div>
    </div>
    <!--  SubTitle -->
    <div class="row subtitle">
        <div class="col-12">
            <h3 class="reset lightWeight">
                You are restricted to use this area! Please contact your adminstrator to give you access.
            </h3>
        </div>
    </div>
</div>

