
@{
    ViewBag.Title = "Dashboard";
    ViewBag.leftString = "Add item";
    ViewBag.rightString = "Preferences";
    ViewBag.leftStringLink = "../Admin/Item";
    ViewBag.rightStringLink = "#";
    ViewBag.SignOut = @Html.ActionLink("Sign Out", "SignOut", "Shared");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Lost and Found Dashboard</h1>
    </div>
</div>
