
@{
    ViewBag.Title = "Acces Deny";
    ViewBag.leftString = "";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.leftStringLink = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Access Denied!</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            You are restricted to use area! Please call your adminstrator
        </h4>
    </div>
</div>
