
@{
    ViewBag.Title = "Acces Deny";
    ViewBag.leftString = "";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.leftStringLink = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row unauthorizedPad">
    <!-- Danger Sign-->
    <div class="center"><img src="~/images/danger.png" /></div>

    <!-- Title -->
    <div class="row title">
        <div class="col-12">
            <h1 class="reset">Access Denied!</h1>
        </div>
    </div>
    <!--  SubTitle -->
    <div class="row subtitle">
        <div class="col-12">
            <h3 class="reset lightWeight">
                You are restricted to use area! Please call your adminstrator
            </h3>
        </div>
    </div>
</div>

