
@{
    ViewBag.Title = "Advanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Advanced Preferences</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            This panel can be accessed by the Head of the Protection Office in the American University of Beirut only.
        </h4>
    </div>
</div>


<div class="row">

    <div class="col-6">
        <div class="row images">
            <form action="~/Preferences/Color">
                <input type="submit" value="Add Color" class="btn" />
            </form>
        </div>

        <div class="row images">

            <form action="~/Preferences/Category">
                <input type="submit" value="Add Category" class="btn" />
            </form>

        </div>

        <div class="row images">
            <form action="~/Preferences/Location">
                <input type="submit" value="Add Location" class="btn" />
            </form>
        </div>
    </div>


    <div class="col-6">
        <div class="row  images">
            <form action="~/Preferences/State">
                <input type="submit" value="Add State" class="btn" />
            </form>
        </div>

        <div class="row images">
            <form action="~/Preferences/Role">
                <input type="submit" value="Add Role" class="btn" />
            </form>
        </div>

        <div class="row images">
            <form action="~/Preferences/Type">
                <input type="submit" value="Add Type" class="btn" />
            </form>
        </div>
    </div>

</div>




                        

                          
                         
                                



