@model lostnfound.Models.ViewModel.ItemType


@{
    ViewBag.Title = "Advanced";
    ViewBag.leftString = "Preferences";
    ViewBag.rightString = "Back";
    ViewBag.leftStringLink = "#";
    ViewBag.rightStringLink = "/Preferences";
    ViewBag.SignOut = @Html.ActionLink("Sign Out", "SignOut", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Advanced Preferences</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            Add a new type to the list of options that can be used while creating a new item.
        </h4>
    </div>
</div>
<div class="preferencePad"></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="row centerText">
            <div class="col-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "danger" })
            </div>
        </div>

        <div class="row center ">
            <div class="col-12 centerText" id="createAccount">
                <input type="submit" value="Add" class="btn" />
            </div>
        </div>

        <div class="preferencePad"></div>
    </div>
}